@import "variables.less";


html body{   
    margin:0px;
    padding:0px;
    background-color: @base-background-color;
    color: @base-font-color;
    font-style: normal;
    font-family: @base-font-family;
    font-size: @base-font-size;
    line-height: 1.45;
    font-weight: @base-font-weight;
}

.content
{
    padding:50px;
    height:100%;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
}



.code
{
    width:100%;
    padding:20px;   
}

.pannel
{
    background-color:#fff;
    boarder-radius:10px;
    margin-bottom:20px;
    padding:10px;
    color:#333;
}