/* Demo Variables */

@base-background-color: #f2f2f2;
@base-font-color:#333;
@base-font-family: "Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
@base-font-size: 18px;
@base-font-weight: 400;

@demo-button-color: #fff;
@demo-button-color-hover: #a4e402;

/* Sudoku Variables */
@sudoku-width:296px;
@sudoku-height:294px;
@sudoku-boarder: 4px solid #000;
@sudoku-background-color:#333;

@sudoku-font-size: 24px;
@sudoku-font-family :"Myriad Set Pro","Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
@sudoku-font-color: #fff;
@sudoku-box-width : 30px;
@sudoku-box-height : 30px;
@sudoku-readyonly-color: #f21ff5;


@sudoku-box-boarder: 1px solid #666;
@sudoku-box-background-color:#555;
@sudoku-box-input-color:#fff;
@sudoku-box-color : #a4e402;
@sudoku-box-odd-color : #666;
@sudoku-box-odd-color-hover:#a4e402;
